<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoctorListMVCApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
   
    <link rel="stylesheet" href="~/css/GetAllDoc.css" />
    <link rel="stylesheet" href="~/css/Styledemo.css" />
</head>
<style>
    body {
        background-image: url('../assets/backD.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #e9ecee;
        /* Additional CSS properties for positioning, scaling, etc. */
    }
</style>
<body  >
    <header>
       
        <nav  style="background-color: #e9ecee">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logoImg" src="~/assets/Free_Sample_By_Wix.jpg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="display: flex; flex-direction: row; gap: 10px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetAllAppointmentsAdmin">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="GetAllDocProfile">Doctors</a>
                            @*<img src="~/assets/backD.jpeg" />*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #e9ecee; ">
        <div class="contain" style="display: flex; justify-content: center; background-color: #e9ecee ">
            &copy; 2023 - DoctorListMVCApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*.container{
background-image: url('~/assets/BgDoc.webp')
}*@
