.row {
    display: flex;
    justify-content: start;
    margin-top: 80px;
    padding: 35px;
}

.Title {
    display: flex;
    flex-direction: column;
}



/* Notification fading and success css*/
.notification {
    padding: 10px;
    border-radius: 4px;
    animation: fadeOut 5s linear forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.success {
    background-color: #8BC34A;
    color: #fff;
}



/* role toggle*/



