.row {
    display: flex;
    justify-content: start;
    margin-top: 80px;
    padding: 35px;
    background-color: rgb(0 0 0 / 27%);
    width: 500px;
    border: 3px solid red;
    border-radius: 20px;
}

.Title {
    display: flex;
    flex-direction: column;
}

.col-md-4 {
    display: flex;
    //justify-content: center;
    border-radius: 20px;
    //width: 20vw;
    //height: 20vw;
    position: relative;
    left: 57px;
    //border: 3px solid red;
    // margin-top: 20px;
}
/* Notification fading and success css*/
.notification {
    padding: 10px;
    border-radius: 4px;
    animation: fadeOut 5s linear forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.success {
    background-color: #8BC34A;
    color: #fff;
}



/* role toggle*/



